// _bento-box.scss

.bento-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.bento-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--medium-shadow), 0 1px 3px var(--subtle-shadow);
    padding: 20px;
    width: 100%;
}

.bento-box-item.offset-item {
    opacity: 0;
}

.bento-box-item:hover {
    box-shadow: 0 10px 15px var(--strong-shadow), 0 4px 6px var(--medium-shadow);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .bento-box {
        display: flex;
        flex-direction: column;
    }

    .bento-box-item.offset-item {
        display: none;
    }
}