// _variables.scss

:root {
    --primary-color: #000;
    /* Black */
    --secondary-color: #fff;
    /* White */
    --background-color: #fff;
    /* White */
    --text-color: #000;
    /* Black */
    --subtle-shadow: rgba(0, 0, 0, 0.07);
    --medium-shadow: rgba(0, 0, 0, 0.1);
    --strong-shadow: rgba(0, 0, 0, 0.2);
    --border-color: #000;
    --icon-padding-right: 2.5rem;
    --icon-right-offset: 0.5rem;
}

[data-bs-theme='dark'] {
    /* Dark theme colors */
    --primary-color: #fff;
    /* White */
    --secondary-color: #000;
    /* Black */
    --background-color: #333;
    /* Dark grey */
    --text-color: #fff;
    /* White */
    --subtle-shadow: rgba(255, 255, 255, 0.08);
    --medium-shadow: rgba(255, 255, 255, 0.2);
    --strong-shadow: rgba(255, 255, 255, 0.3);
}