.thumbnail-card-link {
    text-decoration: none
}

.thumbnail-card-footer {
    background-color: transparent !important;
}


.card-col {
    border-right: 1px solid #bababa;
}


.skill-badge {
    width: 100px;
    height: 100px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-badge:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)!important;
  }
  
  .skill-badge-title {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  hr {
    border: none;
    height: 2px; /* Slightly thinner for a more modern look */
    background: linear-gradient(to right, #dcdcdc, #cccccc, #dcdcdc); /* Darker in the middle */
    margin: 12px auto; /* Centered with auto margins */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Softer, subtler shadow */
    width: 95%; /* Adjust width as needed */
  }