// Define dark mode specific variables
$body-bg-dark: #0c1414; // Black
$body-color-dark: #C0BCBA; // Light Grey
$primary-dark: #1B998B; // Dark Green
$primary-dark-hover: darken(#1B998B, 10%); // Calculated in Sass
$secondary-dark: #24C367; // Light Green
$success-dark: #24C367; // Light Green
$info-dark: #24C367; // Light Green
$warning-dark: #E1636A; // Light Red
$danger-dark: #ad3d44; // Dark Red
$light-bg-dark: #3A3D4F; // Light Background
$dark-bg-dark: #272A36; // Dark Background
$light-grey-dark: #C0BCBA; // Light Grey
$dark-grey-dark: #343c40; // Dark Grey

