$body-bg-light: #fff;
$body-color-light: #000;
$primary-light: #57893A; // Primary Green for Light Mode
$primary-light-hover: darken(#57893A, 10%); // Calculated in Sass
$secondary-light: #4CAF50; // Light Green
$success-light: #4CAF50; // Light Green
$info-light: #2196F3; // Light Blue
$warning-light: #FFC107; // Light Yellow
$danger-light: #F44336; // Light Red
$light-bg-light: #f8f9fa; // Light Background
$dark-bg-light: #e9ecef; // Dark Background
$light-grey-light: #adb5bd; // Light Grey
$dark-grey-light: #6c757d; // Dark Grey
