
// Light Theme
[data-bs-theme="light"] {
    
    // Button
    .btn-primary {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    .btn-secondary {
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
    }

    .bg-primary {
        background-color: var(--bs-primary)!important;
    }

    .bg-secondary {
        background-color: var(--bs-secondary)!important;
    }

}

// Dark Theme
[data-bs-theme="dark"] {
    
    // Button
    .btn-primary {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    .btn-secondary {
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
    }

    .form-check-input:checked {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

    .bg-primary {
        background-color: var(--bs-primary)!important;
    }

    .bg-secondary {
        background-color: var(--bs-secondary)!important;
    }

}
