<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <style>
            .dev {
                border: 1px solid red;;
            }

            .dev-2 {
                border: 1px solid blue;;
            }

            .dev-3 {
                border: 1px solid green;;
            }
         </style>
</head>
<body>
    <section class="text-center pt-5">
        <div class="container">
            <h1 class="display-3 mb-4">Bento Grid</h1>

            <div class="row">

                <div class="col-md-3 p-1">
                    <div class="col-md offset-4 " > col-md</div>
                    <div class="col-md "> COL</div>
    
                </div>

                <div class="col-md-5 p-1">
                     col-md 
                </div>

                <div class="col-md-4  p-1">
                    col-md 3
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-4 dev p-1">
                    <div class="col-md dev-2 m-1">col-md-8</div>
                    <div class="col-md dev-2 m-1">col-md-8</div>
                </div>

                <div class="col-md-4 dev-3 p-1">col-md-4</div>

                <div class="col-md-4 dev p-1">
                    <div class="col-md dev-2 m-1">col-md-8</div>
                    <div class="col-md dev-2 m-1">col-md-8</div>
                </div>
                
            </div>

        </div>
    </section>
</body>
</html>
