
// ****** Post Cards ******

.post-card {
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, var(--bs-body-bg-dark), var(--bs-body-bg-light));
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 6px var(--bs-shadow-color-light);
}

.post-card:hover {
  transform: translateY(-4px);
}

.post-card:hover {
  box-shadow: 0 4px 16px var(--bs-secondary);
}

.card-image-outer-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.card-image-inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-image-inner-container:hover .card-image {
  transform: scale(1.01);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

[data-bs-theme="light"] .card-image {
  border: 1px solid var(----bs-border-color-light);
}

[data-bs-theme="dark"] .card-image {
  border: 1px solid var(--bs-border-color-dark);
}

.post-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--bs-shadow-color);
  color: var(--bs-text-color-light);
}


.post-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  color: var(--bs-text-color);
}


.card-footer small {
  font-size: 0.85rem;
  color: var(--bs-text-color-dark);
}


.tag-badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-x: auto;
}

@media (max-width: 576px) {
  .tag-badge-list {
    flex-wrap: nowrap;
  }
}

// ****** Thumnail Cards ******

.thumbnail-card-image-outer-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; 
}

.thumbnail-card-image-inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  box-sizing: border-box;
  overflow: visible; 
  transition: transform 0.5s ease-in-out; /* Increased duration and smoother easing */
}

.thumbnail-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Smooth transitions */
  box-shadow: 0px 2px 6px 2px var(--bs-shadow-color-light);
}

.thumbnail-card-link {
  text-decoration: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.thumbnail-card {
  transition: transform 0.4s ease-in-out; /* Optional: for individual card content */
}

.thumbnail-card-link:hover {
  transform: scale(1.05); /* Scale the entire card including content */
}

.thumbnail-card-footer {
  background-color: transparent !important;
}

.card-col {
  border-right: 1px solid #bababa;
}


// ****** Project Card Carousel ******

.custom-carousel-container {
  position: relative;
  padding: 0 40px; /* Add padding to make space for arrows */

  .carousel-inner-container {
    overflow: hidden; /* Ensure content doesn't overflow */
  }

  .custom-carousel-control-prev,
  .custom-carousel-control-next {
    position: absolute;
    top: 50%; /* Align vertically with the middle of the carousel */
    transform: translateY(-50%); /* Initial position adjustment */
    z-index: 2; /* Ensure they are above the carousel items */
    cursor: pointer;
    font-size: 2rem; /* Adjust size as needed */
    color: var(--bs-secondary); /* Default text color */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */

    &:hover {
      color: var(--bs-primary-hover); /* Change color on hover */
      transform: translateY(-50%) scale(1.2); /* Slightly enlarge on hover */
    }

    &:active {
      transform: translateY(-50%) scale(0.9); /* Scale down to create pressed effect */
    }

    &.custom-carousel-control-prev {
      left: 0; /* Position at the left edge of the container */
      margin-left: -40px; /* Pull out from the padding area */
    }

    &.custom-carousel-control-next {
      right: 0; /* Position at the right edge of the container */
      margin-right: -40px; /* Pull out from the padding area */
    }

    /* Adjust colors based on the theme */
    [data-bs-theme="light"] & {
      color: var(--bs-text-color-light);

      &:hover {
        color: var(--bs-secondary);
      }

      &:active {
        transform: translateY(-50%) scale(0.9);
      }
    }

    [data-bs-theme="dark"] & {
      color: var(--bs-text-color-light);

      &:hover {
        color: var(--bs-secondary);
      }

      &:active {
        transform: translateY(-50%) scale(0.9);
      }
    }
  }

  /* Media query to hide the chevrons and prevent horizontal scrolling on small screens */
  @media (max-width: 768px) {
    padding: 0; /* Remove padding on smaller screens to prevent overflow */

    .custom-carousel-control-prev,
    .custom-carousel-control-next {
      display: none; /* Hide chevrons on smaller screens */
    }

    .carousel-inner-container {
      overflow-x: hidden; /* Prevent horizontal scroll */
    }
  }
}