.hr-line {
    border-bottom: 1px solid var(--bs-primary);  // Default to primary color

    // Specific theme adjustments
    [data-bs-theme="light"] & {
        border-bottom: 1px solid var(--bs-primary);  // Use primary color for light theme
    }
    [data-bs-theme="dark"] & {
        border-bottom: 1px solid var(--bs-primary);  // Use primary color for dark theme
    }
}

.hr-theme-slash-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hr-line {
    flex-grow: 1;
}

.hr-icon {
    padding: 0 15px;
}

.arrow-down::after {
    content: '⌄';  // Simple arrow symbol
    font-size: 2rem;
    color: var(--bs-primary);  // Default to primary color

    // Specific theme adjustments
    [data-bs-theme="light"] & {
        color: var(--bs-secondary);  // Use secondary color for light theme
    }
    [data-bs-theme="dark"] & {
        color: var(--bs-secondary);  // Use secondary color for dark theme
    }
}


