.hr-line {
    border-bottom: 1px solid var(--bs-primary);  // Default to primary color

    // Specific theme adjustments
    [data-bs-theme="light"] & {
        border-bottom: 1px solid var(--bs-primary);  // Use primary color for light theme
    }
    [data-bs-theme="dark"] & {
        border-bottom: 1px solid var(--bs-primary);  // Use primary color for dark theme
    }
}

.hr-theme-slash-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hr-line {
    flex-grow: 1;
}

.hr-icon {
    padding: 0 15px;
}

.arrow-down::after {
    content: '⌄';  // Simple arrow symbol
    font-size: 2rem;
    color: var(--bs-primary);  // Default to primary color

    // Specific theme adjustments
    [data-bs-theme="light"] & {
        color: var(--bs-secondary);  // Use secondary color for light theme
    }
    [data-bs-theme="dark"] & {
        color: var(--bs-secondary);  // Use secondary color for dark theme
    }
}


.section-title-hr {
    border: none;  // Remove default border
    height: 1px;  // Default height for light mode
    background: var(--bs-primary);  // Use primary color for light mode
    margin: 12px auto;  // Centered with auto margins
    width: 95%;  // Adjust width as needed
    opacity: 0.25 !important;
    // Specific theme adjustments for dark mode
    [data-bs-theme="dark"] & {
        height: 2px;  // Increase height to 2px for dark mode
        background: none;  // Remove background
        border: 2px dashed var(--bs-primary);  // Use primary color and dashed style for dark mode
        opacity: 0.6 !important;
    }
}
