.hr-line {
    border-bottom: 1px solid var(--primary-color);
    /* Black border for light theme */
}

.hr-theme-slash-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hr-line {
    flex-grow: 1;
}

.hr-icon {
    padding: 0 15px;
}

.arrow-down::after {
    content: '⌄';
    /* Simple arrow symbol */
    font-size: 2rem;
    color: var(--primary-color);
}

hr {
    border: none;
    height: 2px; /* Slightly thinner for a more modern look */
    background: linear-gradient(to right, #dcdcdc, #cccccc, #dcdcdc); /* Darker in the middle */
    margin: 12px auto; /* Centered with auto margins */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Softer, subtler shadow */
    width: 95%; /* Adjust width as needed */
  }
