.skill-badge-container {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-badge {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease;
    background: linear-gradient(to bottom right, var(--bs-white), var(--bs-grey-light));
    box-shadow: 0 0 0 2px var(--bs-shadow-color-light);

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease; /* Smooth transition for image */
    }
}

.skill-badge-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0; /* Remove any default margins */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

[data-bs-theme="dark"] {
    .skill-badge {
        box-shadow: 0 0 0 2px var(--bs-shadow-color-light) !important;    
    }
}

[data-bs-theme="light"] {
    .skill-badge {
        box-shadow: none; 
    }
}
